<?php
/**
 * The base configurations of the WordPress.
 *
 * This file has the following configurations: MySQL settings, Table Prefix,
 * Secret Keys, WordPress Language, and ABSPATH. You can find more information
 * by visiting {@link http://codex.wordpress.org/Editing_wp-config.php Editing
 * wp-config.php} Codex page. You can get the MySQL settings from your web host.
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '<%= @wp['dbname'] %>');

/** MySQL database username */
define('DB_USER', '<%= @db['user'] %>');

/** MySQL database password */
define('DB_PASSWORD', '<%= @db['password'] %>');

/** MySQL hostname */
define('DB_HOST', '<%= @db['host'] %>');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 */
define('AUTH_KEY',         'x~Cj+W6ipNT_n-lK|grQXXBps_+O24Q|Gv9x@{dbKQXUJ`TuuL%2H>l$/_UR+<iL');
define('SECURE_AUTH_KEY',  'Jh<Ax{y6emQS@eU}G-@N;LiK|j-X`^U&C49@8f`=+X6(/QEYHkd!*F,<CFG6lOYs');
define('LOGGED_IN_KEY',    '<2>(P3HQ2zF/!wV-W<wS?xO`=E0-xpxVNC-_QL;gGyIO$rQPJ<gtpx5b-HZN`pg ');
define('NONCE_KEY',        '+0,e5Pzh-<0 vi#R7MDu4(kg-;I[i`g*tx[a_;3l7=c`;T~o[rP!z(s&-3vXzi=@');
define('AUTH_SALT',        'E:+C?!!$T*inZ<LW9kk855O| (J)/SpM|3U-0GY,Ji6Q+$c=JA-!oF]y,cvSYas^');
define('SECURE_AUTH_SALT', '8D Jp5x2Zl4nUMt!2;|iQqb[@ZI9jS|)+W_mK|Pit-oV|h@=FB,>i[K;/-M}--[=');
define('LOGGED_IN_SALT',   's+D%g/wQ|=rw[:lPCVwBeNdo7?+W{&$`0GE@Z+|_H ~A3We<*`_QcJ5s4Cf5[/I>');
define('NONCE_SALT',       'JkCC~c|/zG_V/M<r0vIW(h!gz-mLVA4gPR{ Xz9]o/R{#+0-`s5QS_($=iL?aMRa');

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each a unique
 * prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * WordPress Localized Language, defaults to English.
 *
 * Change this to localize WordPress. A corresponding MO file for the chosen
 * language must be installed to wp-content/languages. For example, install
 * de_DE.mo to wp-content/languages and set WPLANG to 'de_DE' to enable German
 * language support.
 */
define( 'WPLANG', '' );

/** Enable Cache */
define( 'WP_CACHE', <%= @wp['wp_cache'] %> );

/** Debug **/
define( 'WP_DEBUG', <%= @wp['wp_debug'] %> );

if (WP_DEBUG) {
    define( 'WP_DEBUG_LOG', true );
    define( 'WP_DEBUG_DISPLAY', false );
    @ini_set( 'display_errors', 0 );
    define( 'SAVEQUERIES', true );
}

/** Akismet API key **/
define('WPCOM_API_KEY', '<%= @wp['wpcom_api_key'] %>');

/** Gravity Forms License Key */
define( 'GF_LICENSE_KEY', '<%= @wp['gf_license_key'] %>' );

/** Disallow file editing **/
define( 'DISALLOW_FILE_EDIT', true );
define( 'DISALLOW_FILE_MODS', false );

/** Disallow auto-updates **/
define( 'WP_AUTO_UPDATE_CORE', false );

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
