# OS X

.DS_Store
._*

# Vagrant

.vagrant/*

# Puppet

puppet/modules/*
!puppet/modules/.gitignore
puppet/.librarian/*
puppet/.tmp/*
puppet/Puppetfile.lock

# Sublime Text

*.sublime-project
*.sublime-workspace